<html class="no-js" lang="zxx">
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <head>
    	{% include "Jobs/common/links.html" %}
    </head>
    <body>
        {% include "Jobs/common/loader.html" %}

        {% block __BodyContent %}
            
        {% endblock %}

        {% include "Jobs/common/scripts.html" %}
    </body>
</html>