<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ page_title }}  {{ CONST.TAB_KEYWORD }}</title>
<link rel="shortcut icon" type="image/x-icon" href="{{ CONST.USER_IMG }}favicon.ico">
<link rel="stylesheet" href="{{ CONST.USER_CSS }}bootstrap.min.css">
<link rel="stylesheet" href="{{ CONST.USER_CSS }}owl.carousel.min.css">
<link rel="stylesheet" href="{{ CONST.USER_CSS }}flaticon.css">
<link rel="stylesheet" href="{{ CONST.USER_CSS }}price_rangs.css">
<link rel="stylesheet" href="{{ CONST.USER_CSS }}slicknav.css">
<link rel="stylesheet" href="{{ CONST.USER_CSS }}animate.min.css">
<link rel="stylesheet" href="{{ CONST.USER_CSS }}magnific-popup.css">
<link rel="stylesheet" href="{{ CONST.USER_CSS }}fontawesome-all.min.css">
<link rel="stylesheet" href="{{ CONST.USER_CSS }}themify-icons.css">
<link rel="stylesheet" href="{{ CONST.USER_CSS }}slick.css">
<link rel="stylesheet" href="{{ CONST.USER_CSS }}nice-select.css">
<link rel="stylesheet" href="{{ CONST.USER_CSS }}style.css">
<link rel="stylesheet" href="{{ CONST.USER_CSS }}custom.css">


