{% load static %}

<header>
	<div class="header-area header-transparrent">
	    <div class="headder-top header-sticky">
	        <div class="container">
	            <div class="row align-items-center">
	                <div class="col-lg-3 col-md-2">
	                    <div class="logo">
	                        <a href="{% url 'Home' %}"><img src="{% static 'img/logo/logo.png' %}" alt=""></a>
	                    </div>
	                </div>
	                <div class="col-lg-9 col-md-9">
	                    <div class="menu-wrapper">
	                        <div class="main-menu">
	                            <nav class="d-none d-lg-block">
	                                <ul id="navigation">
	                                    <li><a href="{% url 'Home' %}">Home</a></li>
	                                    <li><a href="{% url 'FindJob' %}">Find a Jobs </a></li>
	                                    <li><a href="{% url 'Blogs' %}">Blogs</a></li>
	                                    <li><a href="{% url 'About' %}">About</a></li>
	                					<li><a href="{% url 'Contact' %}">Contact</a></li>
	                                </ul>
	                            </nav>
	                        </div>
	                        <div class="header-btn d-none f-right d-lg-block">
	                            <a href="#" class="btn head-btn1">Register</a>
	                            <a href="#" class="btn head-btn2">Login</a>
	                        </div>
	                    </div>
	                </div>
	                <div class="col-12">
	                    <div class="mobile_menu d-block d-lg-none"></div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
</header>