<script src="{{ CONST.USER_JS }}vendor/modernizr-3.5.0.min.js"></script>
<script src="{{ CONST.USER_JS }}vendor/jquery-1.12.4.min.js"></script>
<script src="{{ CONST.USER_JS }}popper.min.js"></script>
<script src="{{ CONST.USER_JS }}bootstrap.min.js"></script>
<script src="{{ CONST.USER_JS }}jquery.slicknav.min.js"></script>
<script src="{{ CONST.USER_JS }}owl.carousel.min.js"></script>
<script src="{{ CONST.USER_JS }}slick.min.js"></script>
<script src="{{ CONST.USER_JS }}price_rangs.js"></script>
<script src="{{ CONST.USER_JS }}wow.min.js"></script>
<script src="{{ CONST.USER_JS }}animated.headline.js"></script>
<script src="{{ CONST.USER_JS }}jquery.magnific-popup.js"></script>
<script src="{{ CONST.USER_JS }}jquery.scrollUp.min.js"></script>
<script src="{{ CONST.USER_JS }}jquery.nice-select.min.js"></script>
<script src="{{ CONST.USER_JS }}jquery.sticky.js"></script>
<script src="{{ CONST.USER_JS }}contact.js"></script>
<script src="{{ CONST.USER_JS }}jquery.form.js"></script>
<script src="{{ CONST.USER_JS }}jquery.validate.min.js"></script>
<script src="{{ CONST.USER_JS }}mail-script.js"></script>
<script src="{{ CONST.USER_JS }}jquery.ajaxchimp.min.js"></script>
<script src="{{ CONST.USER_JS }}plugins.js"></script>
<script src="{{ CONST.USER_JS }}main.js"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script src="{{ CONST.USER_JS }}rocket-loader.min.js" data-cf-settings="87cf08f18298178357744bd4-|49" defer=""></script>
<script >
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-23581568-13');
</script>